[Desktop Entry]
Name=Multi-Commit
GenericName=Git GUI
Comment=Commit and push to multiple git remotes
Exec=python3 /home/sam/Projects/multi-commit/main.py
Icon=/home/sam/Projects/multi-commit/assets/icon.png
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=git;commit;push;github;
StartupNotify=true
StartupWMClass=multi-commit
